.initial-state-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  flex-shrink: 1;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0 10px;
}

.tab {
  padding: 5px 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
  margin: 0 5px;
}

.tab-content {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  border: 1px solid white;
  flex-shrink: 1;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.initial-state-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#initial-state-search-input {
  color: black;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 5px;
}

.state-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
  padding: 0 7px;

  &:not(:last-child):not(:has(+ .separator)) {
    border-bottom: 1px solid grey;
    padding-bottom: 7px;
  }

  input {
    width: 80px;
  }
}

.highlight {
  background-color: rgba(0, 255, 0, 0.1);
}

.separator {
  width: 100%;
  height: 1em;
  background: rgba(128, 128, 128, 0.5);
}

.initial-state-item-input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.initial-state-quest-select {
  background-color: transparent;
  color: white;
  border: 1px solid white;

  option {
    background-color: black;
    color: white;
  }
}
